/* this file should only be included by opts2struct.h
 * after the definition of OPTS2STRUCT but before the
 * function prototypes beginning with opts2struct_
 */

/**
 *  OPTS2STRUCT(<comma-separated keys>) : set your options here. The
 *                         OPTS2STRUCT macro in opts2struct.h will
 *                         auto-generate a structure definition from it.
 *
 */
OPTS2STRUCT(stars, bunnies, dogs)

/**
 *  OPTS2EMPTY: the value used to initialize options before parsing argv[]
 *
 *      limitation: must be a valid "int". Also, be sure it is a value
 *               that is outside the range of valid values for all options!
 */
#define OPTS2EMPTY -999
